[submodule "dependencies/easyexif"]
	path = dependencies/easyexif
	url = https://github.com/xtech/easyexif.git
[submodule "dependencies/served"]
	path = dependencies/served
	url = https://github.com/meltwater/served.git
[submodule "dependencies/boost-thread"]
	path = dependencies/boost-thread
	url = https://github.com/boostorg/thread.git
[submodule "dependencies/boost-system"]
	path = dependencies/boost-system
	url = https://github.com/boostorg/system.git
